/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab content */
.tabcontent {
  border: 1px solid #ccc;
  border-top: none;
  margin-left: 310px; /* Same as the width of the sidenav */
  padding: 0px 10px 10px;
  min-height: 600px;
}

.block {
  margin-top: 12px;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 75%;
}

/* Update for lab 3 */
/* Source:  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_icons*/
.sidebar {
  height: 100%;
  width: 310px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  background: inherit;
  border: none;
  box-sizing: none;
}

.sidebar button:hover {
  color: #18e2e9;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar button {
    font-size: 18px;
  }
}

body {
  font-family: "Lato", sans-serif;
}

img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
}

/*  CSS pour l'utilisation du patron structure "centre-scène"*/
#displayProduct {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: auto;
}

.productBlock {
  margin: 10px;
}
